

<div class="row">
        <div class="col-sm-8 col-offset-2">
            <h2>Connexion</h2>
            <!-- <p routerLinkActive="active" >
                    <a routerLink="/comptables">Comptables</a><br/>
                    <a routerLink="/commerciaux">commerciaux</a>
                </p> -->
            <form [formGroup]="signInForm"
                  (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text"
                            id="email"
                            formControlName="email"
                            class="form-control"> 
                </div>
                <div class="form-group">
                    <label for="password">
                        Votre mot de passe</label>
                    <input type="password"
                            id="password"
                            formControlName="password"
                            class="form-control"
                    >
                </div>
                <button class="btn btn-primary"
                        type="submit"
                        [disabled]="signInForm.invalid">
                        Connexion </button>
            </form>
            <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
        </div>
    </div>
<div><span class="badge badge-primary" (click)="onClick()">Comptable</span></div>
<div><span class="badge badge-dark" >Commercial</span></div>